/* Body */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
	font: 300 16px "Open Sans", sans-serif;
}

/* Container */

.container {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */

header {
	text-align: center;
	visibility: visible;
}

h1 {
	padding: 0;
	margin: 0;
	color: #0c385c;
	margin-top: 20px;
}

.info-text {
	color: #0970bc;
	font-size: 1.2em;
	font-weight: bold;
}


/* Deck of cards */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(140deg, #17f266 10%, #09afbc 85%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
	position: relative;
}

.card {
	height: 125px;
    width: 125px;
    font-size: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	position: relative;
}

/* TODO: element which is lid for card element */
.lid {
    height: 100%;
    width: 100%;
    background: #2e3d49;
    font-size: 0;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
	position: absolute;
	border: 1px solid #fff;
}

/* TODO: class for element with class name lid when cards are matched */
.open {
	visibility: hidden;
}

/* TODO: class for matched cards */
.matched {
	transform: rotate(0);
	-webkit-transform: rotate(0); /* for Safari */
	transition: 1s ease all;
	-webkit-transition: 1s ease all; /* for Safari */
}


/* Scores panel */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
	font-size: 1em;
}

/* TODO: div elements for scores */
#stars,
#moves,
#timer,
#restart {
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	font-size: 18px;
	color: #000;
	cursor: pointer;
}

/* TODO: elements li for star rating */
.star1,
.star2,
.star3 {
	color: chartreuse;
	font-size: 25px;
	font-weight: bold;
	position: relative;
	top: 5px;
	color: #430774;
	margin-right: 3px;
}

/* TODO: div for restart button */
#restart {
	font-size: 1.4em;
	font-weight: bold;
}

/* TODO: restart button */
.restart-span {
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 2px #ddd;
	padding: 2px 4px;
	border-radius: 3px;
}

.restart-span:hover {
	background-color: chartreuse;
}


/* Cards */

.insect1,
.insect2,
.insect3,
.insect4,
.insect5,
.insect6,
.insect7,
.insect8,
.sea1,
.sea2,
.sea3,
.sea4,
.sea5,
.sea6,
.sea7,
.sea8,
.plant1,
.plant2,
.plant3,
.plant4,
.plant5,
.plant6,
.plant7,
.plant8,
.mushroom1,
.mushroom2,
.mushroom3,
.mushroom4,
.mushroom5,
.mushroom6,
.mushroom7,
.mushroom8 {
	height: 100%;
    width: 100%;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
	border: 1px solid #ddd;
}


/* TODO: Cards - first set */

.insect1 {
	background: transparent url(../img/1/1.png) center center no-repeat;
}

.insect2 {
	background: transparent url(../img/1/2.png) center center no-repeat;
}

.insect3 {
	background: transparent url(../img/1/3.png) center center no-repeat;
}

.insect4 {
	background: transparent url(../img/1/4.png) center center no-repeat;
}

.insect5 {
	background: transparent url(../img/1/5.png) center center no-repeat;
}

.insect6 {
	background: transparent url(../img/1/6.png) center center no-repeat;
}

.insect7 {
	background: transparent url(../img/1/7.png) center center no-repeat;
}

.insect8 {
	background: transparent url(../img/1/8.png) center center no-repeat;
}


/* TODO: Cards - second set */

.sea1 {
	background: transparent url(../img/2/1.png) center center no-repeat;
}

.sea2 {
	background: transparent url(../img/2/2.png) center center no-repeat;
}

.sea3 {
	background: transparent url(../img/2/3.png) center center no-repeat;
}

.sea4 {
	background: transparent url(../img/2/4.png) center center no-repeat;
}

.sea5 {
	background: transparent url(../img/2/5.png) center center no-repeat;
}

.sea6 {
	background: transparent url(../img/2/6.png) center center no-repeat;
}

.sea7 {
	background: transparent url(../img/2/7.png) center center no-repeat;
}

.sea8 {
	background: transparent url(../img/2/8.png) center center no-repeat;
}


/* TODO: Cards -  third set */

.plant1 {
	background: transparent url(../img/3/1.png) center center no-repeat;
}

.plant2 {
	background: transparent url(../img/3/2.png) center center no-repeat;
}

.plant3 {
	background: transparent url(../img/3/3.png) center center no-repeat;
}

.plant4 {
	background: transparent url(../img/3/4.png) center center no-repeat;
}

.plant5 {
	background: transparent url(../img/3/5.png) center center no-repeat;
}

.plant6 {
	background: transparent url(../img/3/6.png) center center no-repeat;
}

.plant7 {
	background: transparent url(../img/3/7.png) center center no-repeat;
}

.plant8 {
	background: transparent url(../img/3/8.png) center center no-repeat;
}


/* TODO: Cards - fourth set */

.mushroom1 {
	background: transparent url(../img/4/1.png) center center no-repeat;
}
.mushroom2 {
	background: transparent url(../img/4/2.png) center center no-repeat;
}

.mushroom3 {
	background: transparent url(../img/4/3.png) center center no-repeat;
}

.mushroom4 {
	background: transparent url(../img/4/4.png) center center no-repeat;
}

.mushroom5 {
	background: transparent url(../img/4/5.png) center center no-repeat;
}

.mushroom6 {
	background: transparent url(../img/4/6.png) center center no-repeat;
}

.mushroom7 {
	background: transparent url(../img/4/7.png) center center no-repeat;
}

.mushroom8 {
	background: transparent url(../img/4/8.png) center center no-repeat;
}


/* Popup window */

#popup {
	visibility: hidden;
    width: 560px;
    min-height: 260px;
    background: linear-gradient(140deg, #17f266 10%, #09afbc 85%);
    color: #000;
    margin: 320px auto 0 auto;
    position: fixed;
    z-index: 10;
    text-align: center;
    padding: 40px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	border-radius: 10px;
}

#popup p {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.6;
}

/* TODO: header of scores */
.score {
	text-decoration: underline;
}

.title {
	font-size: 1.2em;
}

.popup-title {
	font-size: 1.5em;
}

/* TODO: button which start next game */
#next-game {
	padding: 7px 12px;
	background-color: #e1f366;
	border: none;
	color: #0b626c;
	font-size: 1.1em;
	border-radius: 6px;
}

#next-game:hover {
	cursor: pointer;
	background-color: #117abd;
	color: #fff;
}


/* Responsive */

@media only screen and (max-width: 1050px) {

	h1 {
		font-size: 1.5em;
	}

	.info-text {
		font-size: 1.5em;
	}

	.score-panel {
		font-size: 1.2em;
	}

	header {
		position: relative;
		top: 100px;
		left: 250px;
	}

	.deck {
		width: 420px;
		min-height: 420px;
		position: relative;
		left: -200px;
		top: -140px;
	}

	.card {
		height: 80px;
    	width: 80px;
	}

	#popup {
		margin-top: 100px;
	}

}
